.kontener{
    display:flex;
    font-family: georgia;
}
.gora {
    background-color: #B3BC6D ;
    height: 100px;
    width: 100%;
    font-size:130% ;
    text-align: center;
    padding: 4px;
    color:gray;
}

.centrum_lewo {
    font-family: georgia;
    background-color: #77EE9C ;
    height: 400px;
    width: 23%;
    font-size: 130%;
    text-align: center;
    float:left;
}
.centrum {
    font-family: georgia;
    height: 400px;  
    width: 48%;
    text-align: center;
    background-color:#FFFFCE;
    float:center;
}
.centrum_prawo {
    font-family: georgia;
    background-color: #77EE9C;
    height: 400px;
        width: 30%; 
        font-size: 130%;
        text-align: center;
        float:right;
}
.stopka {
    background-color: #B3BC6D;
    height: 100px;   
    text-align: center;
    width: 100%;
    padding: 4px;
    color:gray;
    float:bottom;
}