.kontener{
    display:flex;
    font-family: georgia;
}
.gora {
    background-color: #0000 ;
    height: 100px;
    width: 100%;
    font-size:130% ;
    text-align: center;
    padding: 4px;
    color:#ffffff;
}

.centrum_lewo {
    font-family: georgia;
    background-color: #ffffff ;
    height: 680px;
    width: 23%;
    font-size: 130%;
    text-align: center;
    float:left;
    color:#0000;
}
.centrum {
    font-family: georgia;
    height: 680px;  
    width: 48%;
    text-align: center;
    background-color:#ffffff;
    float:center;
    color:#0000;
}
.centrum_prawo {
    font-family: georgia;
    background-color: #ffffff;
    height: 680px;
        width: 30%; 
        font-size: 130%;
        text-align: center;
        float:right;
        color:#0000;
}
.stopka {
    background-color: #ffffff;
    height: 100px;   
    text-align: center;
    width: 100%;
    padding: 4px;
    float:bottom;
    color:#0000;
}